# Use postgres/example user/password credentials
version: '3.1'

services:
  web:
    build: .
    ports:
      - "5000:5000"
  db:
    image: postgres
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: test
      POSTGRES_DB: schemathesis-example
    volumes:
      - ./database:/docker-entrypoint-initdb.d
